.wrapper{
  width: 100%;
}

.logo img{
  width: 170px;
}

.menu_left ul, .menu_right ul{
  list-style: none;
}

.menu_left ul li, .menu_right ul li{
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}

.jumbotron{
      background-image: url(https://www.digitalocean.com/assets/media/homepage/hero-background-c9490927.svg),linear-gradient(180deg,#303fd9 0,#031b4e);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      padding: 70px 0;
}

.content-left-jumbotron{
  color: white;
}

.content-left-jumbotron h1{
  font-weight: 700;
}

.content-right-jumbotron{
  background: white;
  border-radius: 10px;
  height: 100%;
  padding: 20px;

}

.content-right-jumbotron p{
  font-size: 10px;
}

.content-right-jumbotron h2{
  font-size: 30px;
  color: #031b4e;
  font-weight: 700;
}

#subtitle-h2-jumbotron-right{
  color: #0069FE;
}

.content-right-jumbotron form input{
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #f1f1f1;
  font-size: 20px;
  padding: 0 16px;
}

.my-btn-blue{
  width: 100%;
  background: #0069ff;
  padding: 15px 0;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

.my-btn-blue:hover{
  background: #1634FE;
  color: white;
}

.my-btn-white{
  width: 100%;
  background: white;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
  color: #757575;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

.my-btn-white:hover{
  background: #EEEEEE;
  color: #757575;
}

.customer-text h3{
  text-transform: uppercase;
}

.lista_loghi ul{
  list-style: none;
}

.lista_loghi ul li{
  display: inline-block;
}

.lista_loghi img{
  width: 50%;
}
